@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
body,
input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /*This will vertically center its children*/
  height: 100vh; /* Full viewport height */
  padding: 0; /* Resetting padding to 0 */
}
.icon {
  width: 34px;
}
h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 16px 0 40px;
}
form {
  display: flex;
  flex-direction: column;
  width: 60%; /* Adjusted from fixed width to auto */
  height: auto; /* Adjusted from fixed height to auto */
}
input[type="text"] {
  font-size: 20px; /* Adjusted from 16px to 20px */
  line-height: 28px; /* Adjusted the line-height proportionally */
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
  word-wrap: break-word; /* Add this line */
  height: 50px; /* Adjust height as per your need */
}
::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
input[type="submit"] {
  padding: 12px 0;
  color: #fff;
  background-color: #10a37f;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  width: auto;
  word-wrap: break-word; /* Add this line */
}
.result {
  font-weight: bold;
  margin-top: 40px;
}
